# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [1]:
import pandas as pd

df0 = pd.read_csv('/Users/marino/Documents/UAB/Erasmus/Kyoto/Classes/Data Analysis Practice/Final Project/flightData/flight_delays_2024_combined.csv')

df0.describe()

/var/folders/7s/p9vc6dt51918j4q47v387x880000gn/T/ipykernel_25407/4076835140.py:3: DtypeWarning: Columns (48,76,77,84,85,92) have mixed types. Specify dtype option on import or set low_memory=False.
  df0 = pd.read_csv('/Users/marino/Documents/UAB/Erasmus/Kyoto/Classes/Data Analysis Practice/Final Project/flightData/flight_delays_2024_combined.csv')

,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Reporting_Airline,Flight_Number_Reporting_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
count,7079061.0,7.079061e+06,7.079061e+06,7.079061e+06,7.079061e+06,7.079061e+06,7.079060e+06,7.079061e+06,7.079061e+06,7.079061e+06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2024.0,2.528455e+00,6.584876e+00,1.578444e+01,3.981946e+00,1.995108e+04,2.504621e+03,1.264886e+04,1.264889e+06,3.173428e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,1.104988e+00,3.396809e+00,8.786436e+00,2.012279e+00,3.711375e+02,1.652255e+03,1.532353e+03,1.532352e+05,1.321231e+03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2024.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.939300e+04,1.000000e+00,1.013500e+04,1.013506e+06,3.007000e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2024.0,2.000000e+00,4.000000e+00,8.000000e+00,2.000000e+00,1.979000e+04,1.151000e+03,1.129200e+04,1.129202e+06,3.064700e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2024.0,3.000000e+00,7.000000e+00,1.600000e+01,4.000000e+00,1.993000e+04,2.227000e+03,1.288900e+04,1.288904e+06,3.145300e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2024.0,4.000000e+00,1.000000e+01,2.300000e+01,6.000000e+00,2.036300e+04,3.717000e+03,1.405700e+04,1.405702e+06,3.246700e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2024.0,4.000000e+00,1.200000e+01,3.100000e+01,7.000000e+00,2.045200e+04,8.819000e+03,1.686900e+04,1.686902e+06,3.599100e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Reducing the number of entries
- Due to the large number of entries 7M, the data analysis direction has been updated to only analyze delays of flights departing from Philadelphia International Airport (PHL). From 7M to 100k flight entries 1.42% of all total flights in the dataset.

In [2]:
# Analysis 
possible_origin_cols = ['Origin']
origin_col = None

for col in possible_origin_cols:
    if col in df0.columns:
        origin_col = col
        break

if origin_col:
    print(f"ORIGIN AIRPORT COLUMN FOUND: '{origin_col}'")

    
    # Count flights from PHL
    phl_flights = df0[df0[origin_col] == 'PHL']
    phl_count = len(phl_flights)
    
    print(f"\nNumber of flights from Philadelphia (PHL): {phl_count:,}")
    print(f"\nPercentage of total flights: {(phl_count/len(df0)*100):.2f}%")
    
    # Show top 10 origin airports for context
    print("\nTOP 10 ORIGIN AIRPORTS:")
    print(df0[origin_col].value_counts().head(10))

ORIGIN AIRPORT COLUMN FOUND: 'Origin'

Number of flights from Philadelphia (PHL): 100,635

Percentage of total flights: 1.42%

TOP 10 ORIGIN AIRPORTS:
Origin
ATL    341910
DFW    313582
DEN    308645
ORD    280052
CLT    217555
LAX    194053
PHX    193551
LAS    189252
SEA    163724
LGA    162432
Name: count, dtype: int64

In [3]:
# Select only flights from PHL for further analysis
df0_phl = df0[df0['Origin'] == 'PHL'].copy()

<br>
<br>

The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- ArrDelay (Arrival Delay in minutes)

**IVs**:
- DepDelay (Departure delay in minutes)
- DayOfWeek
- CRSDepTime (Computer Reservation System Departure Time)
- Reporting_Airlines (Airline Carrier Code)
- Dest
- Distance
- Month


<br>
<br>

Let's extract the relevant columns:
- Reporting_Airline and Dest are not displayed as data type is not numeric

In [4]:

df = df0_phl[['ArrDelay', 'DepDelay', 'DayOfWeek', 'CRSDepTime', 
              'Reporting_Airline', 'Dest', 'Distance', 'Month']]

df.describe()

,ArrDelay,DepDelay,DayOfWeek,CRSDepTime,Distance,Month
count,98710.000000,99123.000000,100635.000000,100635.000000,100635.000000,100635.000000
mean,8.535498,15.113283,4.001053,1347.374909,890.548060,6.694212
std,65.515171,63.183139,2.015506,482.392957,597.595095,3.273155
min,-72.000000,-36.000000,1.000000,107.000000,36.000000,1.000000
25%,-18.000000,-6.000000,2.000000,909.000000,453.000000,4.000000
50%,-8.000000,-2.000000,4.000000,1345.000000,678.000000,7.000000
75%,11.000000,10.000000,6.000000,1832.000000,1013.000000,9.000000
max,2189.000000,2204.000000,7.000000,2359.000000,2521.000000,12.000000

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [5]:
df = df.rename(columns={
    'ArrDelay': 'arrival_delay',
    'DepDelay': 'departure_delay',
    'DayOfWeek': 'day_of_week',
    'CRSDepTime': 'scheduled_dep_time',
    'Reporting_Airline': 'airline',
    'Dest': 'destination',
    'Distance': 'distance',
    'Month': 'month'
})

df.describe()

,arrival_delay,departure_delay,day_of_week,scheduled_dep_time,distance,month
count,98710.000000,99123.000000,100635.000000,100635.000000,100635.000000,100635.000000
mean,8.535498,15.113283,4.001053,1347.374909,890.548060,6.694212
std,65.515171,63.183139,2.015506,482.392957,597.595095,3.273155
min,-72.000000,-36.000000,1.000000,107.000000,36.000000,1.000000
25%,-18.000000,-6.000000,2.000000,909.000000,453.000000,4.000000
50%,-8.000000,-2.000000,4.000000,1345.000000,678.000000,7.000000
75%,11.000000,10.000000,6.000000,1832.000000,1013.000000,9.000000
max,2189.000000,2204.000000,7.000000,2359.000000,2521.000000,12.000000